<form #alumnosForm = "ngForm" (ngSubmit) = "agregarAlumno()">
  <ion-label>Nombre del alumno: </ion-label>
  <ion-input required [(ngModel)] = "alumno.nombre" placeholder="Ejemplo: Eduardo" name="nombre"></ion-input>
  <ion-label>
    <p>Presente:</p>
    <ion-checkbox [(ngModel)]="alumno.presente" name="presente"></ion-checkbox>
  </ion-label>
  <div>
    <ion-button type="submit">Agregar</ion-button>
  </div>
</form>

<ion-list *ngFor="let alumno of alumnos">
  <ion-item>
    {{alumno.nombre}} : 
    <span *ngIf = "alumno.presente" style="margin-left: 3px"> presente</span>
    <span *ngIf = "!alumno.presente" style="margin-left: 3px"> falta</span>
  </ion-item>
</ion-list>