form {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}

ion-checkbox {
    margin-top: 5px;
}

p {
    margin-top: 10px;
}

ion-button {
    margin-top: 20px;
    margin-left: 0px;
}

ion-list {
    margin-top: 5px;
}
